#background-header {
    background-image: url('../img/salmon7.png'), url('../img/background.jpeg');
    background-repeat: no-repeat, repeat;
    background-position: center, center;
    height: 300px;
}

h1 {
    text-align: center;
    font-size: 1.75cm;
    line-height: 500%;
}

#body-background {
    background-image: url('../img/salmonbackground.jpeg');
    background-position: center;
    background-size: 1200px;
    background-repeat: repeat-y;
}

#center {
    display: inline;
    padding: 50px;
}

nav {
    font-size: .60cm;
    background-color: #AED3E8;
    text-align: center;
    padding: 10px;
    border: #7E8091 solid 10px;
}

p1 {
    height: 200px;
    background-color: #8E92BD;
    text-align: left;
    float: left;
    margin-right: 30%;
    padding: 10px;
}

h2 {
    display: inline-block;
    font-size: 35px;
    padding: 5px;
    background-size: cover;
    margin: 25px;
}

#locations {
    position: absolute;
    /* background-position: right; */
    background-color: #AD755F;
    top: 450px;
    left: 80%;
    width: 15%;
    height: 900px;
    text-align: center;
}

h3 {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

#sales-background {
    background-image: url('../img/salmontest.jpeg');
    background-position: right;
    background-size: 30%;
    background-repeat: repeat-y;
    padding: 200px;
}